@font-face {
	font-family: 'DS-Eraser-Cyr';
	src: url('fonts/DS-Eraser-Cyr.eot');
	src: local('☺'), url('fonts/DS-Eraser-Cyr/DS-Eraser-Cyr.woff') format('woff'), url('fonts/DS-Eraser-Cyr/DS-Eraser-Cyr.ttf') format('truetype'), url('fonts/DS-Eraser-Cyr/DS-Eraser-Cyr.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('fonts/Gilroy-Light.eot');
	src: local('☺'), url('fonts/Gilroy/Gilroy-Light.woff') format('woff'), url('fonts/Gilroy/Gilroy-Light.ttf') format('truetype'), url('fonts/Gilroy/Gilroy-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'vtksnoise';
	src: url('fonts/vtksnoise.eot');
	src: local('☺'), url('fonts/vtksnoise/vtksnoise.woff') format('woff'), url('fonts/vtksnoise/vtksnoise.ttf') format('truetype'), url('fonts/vtksnoise/vtksnoise.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('fonts/ProximaNovaLight/ProximaNova-Light.eot');
	src: local('☺'), url('fonts/ProximaNovaLight/ProximaNova-Light.woff') format('woff'), url('fonts/ProximaNovaLight/ProximaNova-Light.ttf') format('truetype'), url('fonts/ProximaNovaLight/ProximaNova-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova';
	src: url('fonts/ProximaNovaRegular/ProximaNovaRegular.eot');
	src: local('☺'), url('fonts/ProximaNovaRegular/ProximaNovaRegular.woff') format('woff'), url('fonts/ProximaNovaRegular/ProximaNovaRegular.ttf') format('truetype'), url('fonts/ProximaNovaRegular/ProximaNovaRegular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}