$textColor : #282828;
$bgColor : #fff;
$inverseTextColor : #eaeaea;
$numColor: #9ad6f2;
$toneColor : #7f86c2;

$baseFont : 'ProximaNova', Arial, sans-serif;
$titleFont : 'Gilroy', Arial, serif;
$numFont : 'vtksnoise', Arial, serif;
$iconFont : 'DS-Eraser-Cyr', Arial, serif;